<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All links</title>
</head>
<body>

    <table>
        <caption>All links</caption>
        <tr>
            <th>Short link</th>
            <th>Original link</th>
            <th>Clicks number</th>
            <th>Delete short link</th>
        </tr>
        {% for url in url_list.all %}
            <tr>
                <td> <a href="{{ site_url }}{{ url.short_url }}">{{ site_url }}{{ url.short_url }}</a>  </td>
                <td> <a href="{{ url.long_url }}">{{ url.long_url }}</a> </td>
                <td> {{ url.clicks_number }} </td>
                <td>
                    <form action="{% url 'tinyurl:delete-link' url.short_url %}" method="post">
                        {% csrf_token %}
                        <input name="delete" id="delete{{ url.short_url }}" type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>
